

</body>

<footer>
  <p>Copyright <span id="copyRightYear"></span> GEAR webdev</p>
</footer>
<script>
  const yearHolder = document.getElementById('copyRightYear');
  const year = new Date().getFullYear();
  yearHolder.textContent = year;
</script>
</html>
